.page__body {
    background: rgb(255, 255, 255);
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.nav-part {
    width: 100%;
}

.logo {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #2b2b2b;
    margin: 63px 1048px 38px 98px;
}

.logo-accent-color {
    color: #4bcaff;
}

.header-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header-menu-item {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    padding: 26px 32px 19px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    text-align: center;
}

.header-menu-item:nth-child(5) {
    border-right: 1px solid #FFFFFF;
}

.header-menu-item:hover {
    background: #222F3A;
}

.page__main {
    display: flex;
    margin-top: 48px;
    align-items: flex-start;
}

.aside-nav-menu {
    margin: 0 52px 0 0;
    border: 1px solid;
    width: 29.22%;
}

.aside-nav-menu-item {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 27px;
    padding: 26px 44px;
    color: #495863;
}

.aside-nav-menu-item:hover {
    background-color: #DBDBDB;
    text-align: center;
    color: #000000;
}

.main-section {
    width: 50%;
    flex-grow: 2;
}

.main-picture-frame {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 74px 0;
    border: 1px solid black;
}

.main-picture-frame:hover .main-img{
    transition-duration: 0.5s;
    transform: scale(1.2, 1.2);
}

.main-img {
    transition: transform, 0.5s;
}

.main-text {
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #2c2c2c;

}

.footer-container {
    display: flex;
    margin: 54px 0 30px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #63696E7A;
}

.footer-nav-menu {
    padding: 20px 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    color: #0c1927;
    margin-right: 135px;
}

.footer-nav-menu-item {
    font-family: Roboto, sans-serif;
    font-size: 28px;
}

.footer-nav-menu-item:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer-copyright {
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

.dark {
    font-size: 24px;
    color: gray;
    user-select: none;
    pointer-events: none;
}
